/processed
/songs
*.pyc

*/answers.json
*/answer_feedback.json
*/answer_score_global.json
*/answer_score_issue.json
*/answer_score_state.json
*/answer_historical.json
*/candidate_state_multiplier.json
*/state_issue_score.json
*/states.json
*/questions.json

!/template

*.html
!*init.html